<html>

<h1><a href="{% url 'myapp:logout' %}">logout</a></h1>


<table border="1" colspan="2" width="100%">
   <tr>
     <th width="60%">File</td>
     <th width="40%">Download</td>
   </tr>

 {% for x in latest_question_list %}
   <tr>

       {%ifequal user.company_name x.user1.company_name%}

       <td width="60%">{{x.document}} <b>and</b> {{x.user1.company_name}}  </td>

       <td width="40%" align="center"> <form method="post" action="{% url 'myapp:download' filename=x.document %}" /> {% csrf_token %} <input type="submit" value="Download" > </td>


       {%endifequal%}


   </tr>
 {% endfor %}
</table>



</html>